<ion-view title="Add Student" id="page6">
 <div class="bar bar-header">
  <button href="/#/app/home" class="button icon ion-arrow-left-a"></button>
  <h1 class="title">Add Student</h1>
  
</div>
  <ion-content padding="true" class="has-header">
    <form id="addStudent-form6" class="list">
      <label class="item item-input" id="addStudent-input11">
        <span class="input-label">Student Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="addStudent-input14">
        <span class="input-label">Reg Number</span>
        <input type="text" placeholder="">
      </label>
      <ion-radio id="addStudent-radio6">Male</ion-radio>
      <ion-radio id="addStudent-radio7">Female</ion-radio>
      <label class="item item-select" id="addStudent-select3">
        <span class="input-label">Faculty</span>
        <select>
          <option>IT</option>
          <option>BM</option>
          <option>Eng</option>
        </select>
      </label>
      <label class="item item-select" id="addStudent-select4">
        <span class="input-label">Year</span>
        <select>
          <option>1st Year</option>
          <option>2st Year</option>
          <option>3st Year</option>
          <option>4st Year</option>
        </select>
      </label>
      <label class="item item-select" id="addStudent-select5">
        <span class="input-label">Semester</span>
        <select>
          <option>1st Semester</option>
          <option>2nd Semester</option>
        </select>
      </label>
    </form>
    <button id="addStudent-button5" class="button button-positive button-block icon-left ion-android-add-circle">Add</button>
  </ion-content>
</ion-view>