<ion-view view-title="Playlist">
  <ion-content  padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 50px;"></div>
    <a ui-sref="menu.addStudent()" id="home-button6" style="border-radius:10px 10px 10px 10px;" class="button button-positive button-large button-block">Add Student</a>
    <div class="spacer" style="width: 300px; height: 50px;"></div>
    <a ui-sref="menu.addStudent()" id="home-button7" style="border-radius:10px 10px 10px 10px;" class="button button-positive button-large button-block">View Student</a>
  </ion-content>
</ion-view>
